<div class="cat-parent">
 <div class="cat-container">
  <h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "Find Friends Fighters" ]'>
    <span class="wrap"></span>
  </a>
  </h1>
  <div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Agility
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="category"><a href="#">Extreme fast</a></li>
          <li class="category"><a href="#">Quick</a></li>
          <li class="category"><a href="#">Usual</a></li>
          <li class="category"><a href="#">Slow</a></li>
        </ul>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Weight
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="category"><a href="#">Overweight</a></li>
          <li class="category"><a href="#">Heavy</a></li>
          <li class="category"><a href="#">Athletic</a></li>
          <li class="category"><a href="#">Slim</a></li>
        </ul>
      </div>

    </div>
       <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Strenght
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="category"><a href="#">Hulk</a></li>
          <li class="category"><a href="#">Strong</a></li>
          <li class="category"><a href="#">Weak</a></li>
        </ul>

    </div>
    </div>
    <div class="col-xs-12 col-sm-4">

      <div class="dropdown category-handler">
        <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Height
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="category"><a href="#">Giant</a></li>
          <li class="category"><a href="#">Tall</a></li>
          <li class="category"><a href="#">Normal</a></li>
          <li class="category"><a href="#">Small</a></li>
          <li class="category"><a href="#">Dwarf</a></li>
        </ul>
      </div>

  </div>
  </div>
</div>
</div>
</div>

<%= render '/layouts/card' %>
