<% if policy(Friend).create? %>
  <%= link_to 'Make New Friend', new_friend_path %>
<% end %>

<div class="cat-parent">
  <div class="cat-container">
    <div class="cat-filter-container">
      <div class="cat-filter">
        <div class="cat-filter-head">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" >
  <%= render '/layouts/card' %>
</div>
