.confirmation {
  border-bottom: 1px solid black;
  margin: 30px;
  padding: 10px;
}

.thanks h2 {
  font-family: "Roboto";
  font-size: 40px;
}

.order-number h3 {
  font-family: "Roboto";
  font-size: 18px;
}

.detaild-order-recipe {
  font-family: "Roboto";
  font-size: 18px;
}

.detaild-order-recipe h4{
  font-family: "Roboto";
  font-size: 20px;
}

.detaild-order-recipe h5{
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
}

.confirmation-image {
  background-size: cover;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}

 .items-bag-confirmation{
  display: flex;
    margin: 5px;
    margin-left: 0;
 }

.sticky{
  font-family: "Roboto";
  font-size: "20px";
}
