
<style>
.marker {
    cursor: pointer;
    background-size: contain;
}
</style>



<div class="container">
  <div class="fight-box">
    <h3> Arenas </h2>
    <p> Our fights take place in the most dangerous places of the world</p>
    <p> Select your arena to start a match </p>
  </div>
  <div class="arenas-map">
    <div
  id="map"
  style="width: 700px;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
></div>
  </div>
</div>


