
<div class="arenas">
  <div class="arenas-map">
    <div
  id="map"
  style="width: 600px;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
  </div>
  <div class="arena-info">
  <h2>Fights</h2>
  <p> Date Fight </p>
  </div>
</div>


