.input-bar {
  font-family: "Montserrat";
-webkit-appearance: none;
border:none;
 border-radius:0;
 box-shadow: none;
 background: none;
 border-bottom: 1px solid black;
 padding: 0 0 0 10px;
 button {
   border: none;
 }
 input {
   border: none;
 }
 &:focus {
  outline: none;
 }
}


