.mapboxgl-popup {
  max-width: 400px;
  max-height: 350px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  width: 140px;
  justify-content: center;
  margin:0;
  padding-bottom:0;
}

.map-window-title {
  text-align:left;
  padding:0;
  margin:0;
  h2{
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 12px;
    padding: 0;
    margin:0;
  }
  h3{
    font-weight:bold;
    font-family: "Montserrat";
    font-size: 12px;
    padding: 0;
    margin:0;
  }
}

.map-window-view {
  text-align: right;
  color: black;
  margin-bottom: 0;

  p{
    color:black;
    font-size: 12px;
    margin-bottom:0;

  }
  a{
     color:black;
  }
}
