.banner{
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newinfo {
margin-top: 70px;
border-radius: 5px;
padding: 10px 20px;
height: 80vh
}
