#buy-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buy-box {
  background-color: white;
  padding: 20px 100px;
  &:hover {
    box-shadow: 2px 2px 3px #e0e0e0;
  }
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 80vh;
  padding: 20px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.cards-container {
  padding: 0px;
}

.friend-cards {
  margin: 10px 0px;
  width: 50%;
  padding: 0 20px;
}

.flex-wrapper {
  display: flex;
  padding: 30px;
  width: 100%;
}

.purchase-bar {
  display:flex;

  // justify-content: center;
  width: 50%;
  // background-color: $red;
}

.sticky2 {
  position: sticky;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
  margin: 0px 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  // width:;
  background-color: white;
  top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  h3{
     font-family: "Montserrat";
  font-size: 30px;
  }
}

// .cards-cart{
//   display:flex;
//   margin:15px;
// }

.reservation-btn {
  padding: 10px;
  width: 20%;
  background-color: red;
  color: white;
}

.card-reservation {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.reservation {
  margin: 20px;
}

.card-body {
  height: 200px;
  weight: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 2px;
}

.card-description {
  h2 {
  font-size: 24px;
  }
  p {
    font-size: 17px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  font-size: 20px;
}

.card-link:hover {
  opacity: 0.1;
}
.class-footer {
  p {
    text-size: 10px;
  }
}

.friend-rating{
  font-size: 14px;
  line-height: normal !important;
  max-height: 22px !important;
  text-overflow: ellipsis !important;
}

.friend-price{
  margin: 0 0 2px;
  font-size:14px;
  padding:0;
  font-size: 14px;
}

.friend-slogan{
  font-weight:bold;
  font-family: Roboto;
  font-size: 14px;
  margin-top:0px;
  margin-bottom:0px;
}

.description-body {
  background-size: cover;
  background-position: center;
}


