
<% @procentage < @own_rating ? friend_win = true : opponent_win = true %>

<div class="container">
<div class="flex-fight">
  <div class="opponent">
  <% @friends = @opponent %>
  <h3>Your opponent is</h3>
  <%= render 'fight_card' %>
  </div>
  <div class="vs">
    <h1>VS.</h1>
  </div>
  <div class="friend">
    <% @friends = @friend %>
    <h3>Your friend</h3>
    <%= render 'fight_card' %>
  </div>
</div>
</div>

<div class="winner">
<% if friend_win %>
   Congrats: You won
  <% wins = @friend.wins + 1 %>
  <% @friend.update(wins: wins) %>
  <% losses = @opponent.losses + 1 %>
  <% @opponent.update(losses: losses) %>
<% else%>
  Sorry man, your opponent won...
  <% wins = @opponent.wins + 1 %>
  <% @opponent.update(wins: wins) %>
  <% losses = @friend.losses + 1 %>
  <% @friend.update(losses: losses) %>
<% end %>
</div>
